* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1080px;
    margin: auto;
    margin-bottom: 5px;
}
header {
    margin: 0;
    width: 1080px;
    align-content: center;
    height: 80px;
    background: linear-gradient(90deg, #FFFFFF 50%, #F4F4F4 50% );
}
#logo {
    margin: -1px;
    float: left;
    padding: 10PX 5px;
    width: 120px;
}
.morado {
    color: #6B0DEA;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    padding: 10px 5px;
    text-align: center;
    float: right;
    width: 500px;
    margin-right: 25px;
    border: 1;
}
nav ul {
    float: left;
    width: 250px;
    height: 30px;

}
nav ul li {
    margin: 5px 10px 0 10px;
    font-size: 12px;
    list-style: none;
    float: left;
}
#boton {
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 12px;
    background-color: #FFFFFF;
    width: 90px;
}
#boton1 {
    border-radius: 5px;
    color: white;
    padding: 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #6B0DEA;
    width: 90px;
}
/*--------------------------------------------------*/
.contenido {
    width: 1080px;
    height: 500px;
    display: flex;
}
#cuadro {
    width: 540px;
    height: 500px;
    float: left;
}

#cuadro1-2 {
    width: 540px;
    height: 500px;
    background-color: #F4F4F4;
}
#mujer {
    width: 350px;
    margin: 30px 95px;
}
#rectangulos {
    margin: 20px 5px;
    font-size: 10px;
}
#nuevo {
    border-radius: 5px;
    padding: 5px;
    background-color: #6B0DEA;
    color: white;
    margin-right: 5px;
}
h2 {
    font-size: 45px;
}
#punto {
    font-size: 60px;
    font-family: serif;
    color: #6B0DEA;
}
#slogan {
    font-size: 15px;
}
#cuenta {
    margin: 20px 0;
    background-color: #6B0DEA;
    color: #FFFFFF;
    padding: 15px 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.stores{
    margin: 30px 0;
    margin-right: 20px;
    width: 110px;
}

/*--------------------------------------------------*/
#cuadro1 {
    float: left;
    width: 440px;
    height: 500px;
}
#movil {
    width: 400px;
    margin: 70px ;
}
#cuadro2 {
    float: left;
    width: 640px;
    height: 500px;
}
.cuadrados{
    width: 400px;
    margin: 115px auto auto auto;

}
#cuadro2-1 {
    border: 2px solid black;
    margin: auto auto 20px 0;
    width: 250px;
    height: 100px;

}
.cuadro2-2 {
    margin:  20px 0 0 0;
    width: 400px;
    height: 30px;
}
.cuadro2-2 p {
    height: 10px;
    float: left;
    margin: 5px 10px 0 0;
}
.cuadro2-2 strong {
    font-size: 10px;
}
.palo {
    float: left;
    border: 1px solid black;
    height: 10px;
    width: 1px;
}
/*--------------------------------------------------*/
#contenido1{
    width: 1080px;
    height: 400px;
    display: flex;
}
#cuadro3 {
    border: 1px solid black;
    float: left;
    width: 640px;
    height: 400px;
}
#cuadro4 {
    border: 1px solid black;
    float: left;
    width: 440px;
    height: 400px;
}
#cuadro3-1 {
    border: 2px solid black;
    margin-top:  20px;
    width: 400px;
    height: 80px;
}
#cuadro3-2 {
    border: 2px solid black;
    margin:  20px 0 0 0;
    width: 400px;
    height: 30px;

}
#cuadro3-3 {
    border: 2px solid black;
    margin:  20px 0 0 0;
    width: 130px;
    height: 30px;
}
/*----------------------------------------------------*/
#contenido2{
    border-top: 1px solid black;
    width: 1080px;
    height: 500px;
    display: flex;
    margin-top: 5px;
}
#cuadro5 {
    margin-left: 20px ;
    width: 1080px;
}
#cuadro5-1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 400px;
    height: 30px;
}
#cuadro5-2 {
    margin-top: 5px;
    border: 1px solid black;
    width: 280px;
    height: 10px;
}
#cuadro5-3 {
    margin-top: 5px;
    margin-right: 20px;
    border: 1px solid black;
    width: 320px;
    height: 420px;
    float: left;
}
#cuadro5-3-1 {
    border-top: 1px solid black;
    width: 320px;
    height: 80px;
    margin-top: 340px;
}
#cuadro5-3-2 {
    margin: 5px auto;
    border: 1px solid black;
    height: 10px;
    width: 310px;
}
#cuadro5-3-3 {
    border: 1px solid black;
    height: 20px;
    width: 310px;
    margin: 5px auto;
}
#cuadro5-3-4 {
    border: 1px solid black;
    height: 10px;
    width: 60px;
    margin: 5px;
}

.contenido3 {
    width: 1080px;
    height: 200px;
    border-top: 2px solid black;
    text-align: center;
}
#rectangulo6 {
    border: 2px solid black;
    width: 850px;
    height: 125px;
    margin: 20px auto;
}
#rectangulo6-1 {
    border: 2px solid black;
    width: 400px;
    height: 110px;
    margin: 10px auto;
}
#rectangulo6-2 {
    border: 2px solid black;
    width: 380px;
    height: 25px;
    margin: 10px auto;
}
#rectangulo6-3 {
    border: 2px solid black;
    width: 380px;
    height: 10px;
    margin: 10px auto;
}

#rectangulo7 {
    width: 1020px;
    height: 170px;
    margin: 25px auto;
}
.rectangulo7-1 {
    border: 2px solid black;
    float: left;
    width: 215px;
    height: 167px;
}
.rectangulo7-1-1 {
    border: 2px solid black;
    width: 200px;
    height: 30px;
    margin: 5px;
}
#rectangulo7-2 {
    border: 2px solid black;
    float: left;
    width: 360px;
    height: 167px;
}
.rectangulo7-2-1 {
    border: 2px solid black;
    width: 345px;
    height: 30px;
    margin: 5px;
}
footer{
    width: 1080px;
    height: 70px;
    border-top: 1px solid black;
}
#rectangulo8 {
    border: 1px solid black;
    margin: 5px auto;
    width: 1060px;
    height: 10px;
}
#rectangulo8-1 {
    border: 1px solid black;
    margin: auto;
    width: 1060px;
    height: 48px;
}
#rectangulo8-1-1 {
    border: 1px solid black;
    float: left;
    width: 260px;
    height: 25px;
    margin: 10px;
}
#rectangulo8-1-2 {
    border: 1px solid black;
    float: right;
    width: 260px;
    height: 25px;
    margin: 10px;
}