*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 980px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#header{
    background-color: #4baf73;
    text-align: center;
    height: 5vh;
    padding-top: 2vh;
}
h3{
    font-weight: normal;
}
#aside{
    background-color: #5aa6c0;
    width: 21%;
    height: 89vh;
    float: left;
    text-align: center;
}
#main{
    background-color: #d17df9;
    width: 79%;
    height: 89vh;
    float: right;
    text-align: center;
}
#main .section{
    border: 4px solid red;
    width: 95%;
    height: 43%;
    margin: 3vh auto;
}
.seccion1{
    border: 4px solid blue;
    width: 44%;
    height: 29vh;
}
#izquierdo{
    float: left;
    margin-top: 4vh;
    margin-left: 3%;
}
#derecho{
    float: right;
    margin-top: 4vh;
    margin-right: 3%;
}
.seccion2{
    border: 4px solid blue;
    width: 30%;
    height: 29vh;
    float: left;
    margin-top: 4vh;
    margin-left: 2%;
}
#footer{
    clear: both;
    background-color: #fa7e5c;
    text-align: center;
}