* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 798px;
    text-align: center;
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif ;
}

.container {
    width: 100%;
}

header {
    width: 100%;
    height: 6vh;
    background-color: #4BAF73;
    float: left;
    align-items: center;
    align-content: center;

}

.menu ul {
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.contenido {
    width: 100%;
    float: left;
}

.aside {
    width: 18%;
    float: left;
    background-color: #5AA6C0;
    height: 89vh;
}

.aside a {
    color: white;
    padding-top: 8vh;
    display: block;
    font-size: 24px;
    text-decoration: none;
}

.main {
    width: 82%;
    height: 89vh;
    float: right;
    background-color: #D17DF9;
    display: block;
    padding: 0;
}

.rojo {
    margin: 1.5%;
    width: auto;
    height: 40vh;
    border: 4px solid #ff0404;
    display: flex;
    align-items: center;
    justify-content: center;
}

.azul {
    margin: auto;
    width: 47%;
    height: 80%;
    border: 4px solid #0404ff;
}

.azul2 {
    margin: 1.5%;
    width: 30%;
    height: 80%;
    border: 4px solid #0404ff;
}

footer {
    width: 100%;
    background-color: #FA7E5C;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}