* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 798px;
    text-align: center;
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR GLOBAL */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    width: 100%;
    height: 6vh;
    background-color: #4BAF73;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

/* CONTENIDO PRINCIPAL (ASIDE + MAIN) */
.contenido {
    width: 100%;
    display: flex;
}

/* ASIDE */
.aside {
    width: 18%;
    background-color: #5AA6C0;
    height: 89vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside a {
    color: white;
    padding-top: 8vh;
    display: block;
    font-size: 24px;
    text-decoration: none;
}

/* MAIN */
.main {
    width: 82%;
    height: 89vh;
    background-color: #D17DF9;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* CAJA ROJA */
.rojo {
    margin: 1.5%;
    width: auto;
    height: 40vh;
    border: 4px solid #ff0404;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAJAS AZULES */
.azul {
    margin: auto;
    width: 47%;
    height: 80%;
    border: 4px solid #0404ff;
}

.azul2 {
    margin: 1.5%;
    width: 30%;
    height: 80%;
    border: 4px solid #0404ff;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #FA7E5C;

    display: flex;
    justify-content: center;
    align-items: center;
}
