* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
}

body {
    width: 100%;
    min-width: 798px;
    text-align: center;
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR GLOBAL */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    width: 100%;
    height: 6vh;
    background-color: #4BAF73;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menu ul {
    padding: 0;       
    margin-bottom: 10px0;           
    display: flex;
    gap: 20px;          
}


.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

/* CONTENIDO PRINCIPAL (ASIDE + MAIN) */
.contenido {
    width: 100%;
    display: flex;
    flex: 1; /* ocupa el espacio disponible */
}

/* ASIDE */
.aside {
    width: 18%;
    background-color: #5AA6C0;
    height: 89vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
}

.aside a {
    color: white;
    display: block;
    font-size: 24px;
    margin-bottom: 2vh;
    text-decoration: none;
}

/* MAIN */
.main {
    width: 82%;
    height: 89vh;
    background-color: #D17DF9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1vh 0;
    gap: 1.5%; /* espacio entre cajas rojas */
}

/* CAJA ROJA */
.rojo {
    width: 95%;
    height: 40vh;
    border: 4px solid #ff0404;

    display: flex;
    justify-content: space-around; /* distribuye las azules */
    align-items: center;
}

/* CAJAS AZULES */
.azul {
    width: 47%;
    height: 80%;
    border: 4px solid #0404ff;
}

.azul2 {
    width: 30%;
    height: 80%;
    border: 4px solid #0404ff;
}

/* CAJA ROJA 2 (flex para 3 azules) */
.rojo:nth-child(2) {
    justify-content: space-between;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #FA7E5C;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}
