/* Universal RESET */
* {
    margin: 0px;
    padding: 0px;
}

/* BODY */
body {
    padding-top: 20px;
    text-align: center;
    background-image: url("../png/descarga2.png");
    background-repeat: no-repeat;
}

/* PAGE */
#page {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

/* HEADER */
#header {
    font-family: courier;
    color: white;
    font-size: 1.1em;
    background-color: #313B44;
    border-bottom: 6px solid black;
}

#header h1 {
    background-image: url("../");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

/* NAV */
#nav {
    font-family: courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("../imgs/red015.jpg");
}

#nav ul {
    list-style: none;
}

/* Estilos comunes de los LI */
#nav li {
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

/* Contenidos */
#contenidos {
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Videos */
#videos {
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Contacto */
#contacto {
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* ENLACES NAV */
#nav a {
    text-decoration: none;
    color: orange;
}

#nav a:hover {
    color: white;
}

/* CONTENT */
#content {
    font-family: verdana;
    font-size: 0.8em;
    background-image: url("../imgs/lgrey008.jpg");
    height: 502px;
}

/* ARTICLE */
.article {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

/* ARTICLE HEADER */
.article_header {
    border-bottom: 1px solid #999999;
}

/* H2 */
.article_header h2 {
    padding: 10px;
    font-size: 1.2em;
}

/* FOOTER */
#footer {
    clear: both;
    font-size: 0.7em;
    color: white;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding: 15px 0px;
}

/* Enlaces footer */
#footer a {
    color: white;
}
