* {
color: white;
}
#content {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 0.8em;
background-image: url("../imgs/lgrey008.jpg");
height: 502px;
padding: 20px; /* un poco de separación interior */
}
.article {
width: 240px;
border: 1px solid lightgray;
background-color: white;
text-align: center;
line-height: 1.8em;
padding: 5px 5px 22px 5px; /* top/right/bottom/left */
margin: 30px;
float: left; /* colocados uno al lado del otro */
}
.article_header {
border-bottom: 1px solid #999999;
padding-bottom: 8px;
}
.article_header img {
display: block;
margin: 8px auto 4px auto;
}


h2 {
padding: 10px;
font-size: 1.2em;
}


#footer {
clear: both; /* se coloca debajo de los flotantes */
color: white;
font-size: 0.7em;
text-align: center;
background-color: #313B44;
border-top: 6px solid black;
padding: 15px 0; /* margen interno superior e inferior de 15px */
}


#footer a {
color: white;
}


/* pequeñas mejoras responsive */
@media (max-width: 1000px) {
#page { width: 95%; }
.article { width: 30%; }
}


@media (max-width: 700px) {
#nav ul li { display: block; margin: 10px; padding-top: 50px; }
.article { width: 100%; float: none; }
}