* {
    
box-sizing: border-box;
}


body {
font-family: Arial, sans-serif;
background: #e8e8e8;
display: flex;
justify-content: center;
}


#page {
width: 100%;
background: white;
border: 1px solid #ccc;
}


#header {
background: #313B44;
color: white;
padding: 15px;
display: flex;
align-items: center;
gap: 15px;
border-bottom: 6px solid black;
}


#header img.logo {
width: 60px;
height: auto;
}


#nav {
background: #444;
}


#nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 40px;
padding: 20px 0;
}


#nav a {
color: orange;
text-decoration: none;
font-size: 1.2em;
}


#nav a:hover {
color: white;
}


#content {
padding: 20px;
display: flex;
justify-content: space-between;
}


.article {
width: 30%;
background: white;
border: 1px solid #ccc;
padding: 10px;
text-align: center;
}


.article_header {
border-bottom: 1px solid #aaa;
margin-bottom: 10px;
padding-bottom: 10px;
}


#footer {
background: #313B44;
border-top: 6px solid black;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}