*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}
#header{
    background-image: url("../png/images.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 70px 50px;
    image-resolution: 2px;
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0 20px 90px;
    text-align: auto;
    margin-bottom: 20px;
}