* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px; /* margen interno superior 20px */
  text-align: center;
  background-image: url("../imgs/old_map.png");
}

#page {
  width: 960px;
  margin: 0 auto; /* 0 arriba/abajo, auto izq/der */
  text-align: left;
}

#header {
  font-family: Courier, monospace;
  color: white;
  font-size: 1.1em;
  border-bottom: 6px solid black;
  background-color: #313B44;
}

#header h1 {
  /* imagen decorativa en la cabecera (añádela en imgs/logo.png) */
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  padding: 20px 100px; /* 20px top/bottom, 100px left/right */
}

#nav {
  font-family: Courier, monospace;
  font-size: 1.4em;
  color: silver;
  text-align: center;
  background-image: url("../imgs/red015.jpg");
  background-repeat: repeat;
}

#nav ul {
  /* centramos la lista dentro del nav */
  padding: 10px 0;
}

#nav ul li {
  padding-top: 80px; /* espacio para la imagen de cada opción */
  margin: 0 100px 20px 100px; /* top 0, right 100, bottom 20, left 100 */
  list-style: none; /* eliminar viñeta */
  display: inline-block; /* se muestran en horizontal */
  text-align: center;
  cursor: default;
  vertical-align: top;
}

/* imágenes específicas para cada elemento del menú (están en imgs) */
#nav ul li#contenidos {
  background-image: url("../imgs/book.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

#nav ul li#videos {
  background-image: url("../imgs/film.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

#nav ul li#contacto {
  background-image: url("../imgs/mail.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

#nav a {
  display: block;
  padding: 8px 6px; /* espacio extra para el texto, debajo de la imagen */
  text-decoration: none; /* quitar subrayado */
  color: orange;
}

#nav a:hover {
  color: white;
}

#content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  background-image: url("../imgs/lgrey008.jpg");
  height: 502px;
  padding: 20px; /* un poco de separación interior */
}

.article {
  width: 240px;
  border: 1px solid lightgray;
  background-color: white;
  text-align: center;
  line-height: 1.8em;
  padding: 5px 5px 22px 5px; /* top/right/bottom/left */
  margin: 30px;
  float: left; /* colocados uno al lado del otro */
}

.article_header {
  border-bottom: 1px solid #999999;
  padding-bottom: 8px;
}

.article_header img {
  display: block;
  margin: 8px auto 4px auto;
}

h2 {
  padding: 10px;
  font-size: 1.2em;
}

#footer {
  clear: both; /* se coloca debajo de los flotantes */
  color: white;
  font-size: 0.7em;
  text-align: center;
  background-color: #313B44;
  border-top: 6px solid black;
  padding: 15px 0; /* margen interno superior e inferior de 15px */
}

#footer a {
  color: white;
}

/* pequeñas mejoras responsive */
@media (max-width: 1000px) {
  #page { width: 95%; }
  .article { width: 30%; }
}

@media (max-width: 700px) {
  #nav ul li { display: block; margin: 10px; padding-top: 50px; }
  .article { width: 100%; float: none; }
}