*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
#header{
    background-image: url("../png/images.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 70px 50px;
    image-resolution: 2px;
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0 20px 90px;
    text-align: ;
    margin-bottom: 20px;
}