*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}
#header{
    font-family: Courier;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 6px solid #000000;
    background-color: #313B44;
}