*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}
#header{
    font-family: Courier;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 6px solid #000000;
    background-color: #313B44;
}

#page{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

h1{
    background-image: url("../png/images.png");
    background-repeat: no-repeat;
    background-position: 25px 10px;
    background-size: 60px 40px;
    padding: 20px 100px;
}

#nav{
    font-family: Courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("../png/descarga1.png");
}

#nav ul{
    list-style: none;
}

#nav li{
    padding-top: 80px;
    margin: 0 100px 20px 100px;
    display: inline-block;
    text-align: center;
    cursor: default;
}

#contenidos{
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#videos{
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto{
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav a{
    text-decoration: none;
    color: orange;
}

nav a:hover{
    color: white;
}

#content{
    font-family: verdana;
    font-size: 0.8em;
    background-image: url("../imgs/lgrey008.jpg");
    height: 502px;
}

.article{
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

.article_header{
    border-bottom: 1px solid #999999;
}

h2{
    padding: 10px;
    font-size: 1.2em;
}

footer{
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding: 15px 0;
}

footer a{
    color: white;
}