*{
    margin: 0;
    padding: 0;
    background-color: wheat;
    align-content: center;
    align-items: center;
}
body{
    width: 980px;
    font-family: serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    width:980px;
    height: 60px;
    background:#EFC1A6;
    text-align:center;
    float:left;
}

.container{
    width:980px;
    align-content: baseline;
    height: 605px;
    float:left;
    background-color: #BFF4A0;
}

.col1{
    background-color: #EEEFA6;
    width: 165px;
    height: 250px;
    float: left;
}

.col2{
    height: 600px;
    width:650px;
    background-color: #A0F0F4;
    float: left;
    
}

.col3{
    height: 600px;
    width:165px;
    background-color: #B4B4E4;
    float: right;
    
}
footer{
    width:980px;
    margin:0 auto;
    background: #EDA6A6;
    text-align:center;
    float:left;
}