* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1080px;
    margin: auto;
    margin-bottom: 5px;
}

.morado {
    color: #6B0DEA;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

/*--------------------------------------------------*/
/* HEADER */
header {
    width: 1080px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FFFFFF 50%, #F4F4F4 50%);
    padding: 0 25px;
}

#logo {
    width: 120px;
}

nav {
    display: flex;
    gap: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}


nav ul li {
    font-size: 12px;
}

/* BOTONES */
#boton, #boton1 {
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 12px;
    text-align: center;
}

#boton {
    background-color: #FFFFFF;
    color: black;
    width: 90px;
}

#boton1 {
    background-color: #6B0DEA;
    color: white;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------*/
/* CONTENIDO PRINCIPAL */
.contenido {
    width: 1080px;
    height: 650px;
    display: flex;
    gap: 0;
}

/* CUADROS */
#cuadro, #cuadro1-2, #cuadro1, #cuadro2, #cuadro3, #cuadro4 {
    display: flex;
    flex-direction: column;
}

#cuadro, #cuadro1 {
    width: 540px;
}

#cuadro1-2, #cuadro2, #cuadro4 {
    width: 540px;
    background-color: #F4F4F4;
}

#rectangulos {
    margin: 20px 5px;
    font-size: 10px;
}

#mujer {
    width: 400px;
    margin: 30px auto;
}

#nuevo {
    border-radius: 5px;
    padding: 5px;
    background-color: #6B0DEA;
    color: white;
    margin-right: 5px;
}

#punto {
    font-size: 60px;
    font-family: serif;
    color: #6B0DEA;
}

#slogan {
    font-size: 15px;
}

#cuenta {
    text-align: center;
    margin: 20px auto;
    background-color: #6B0DEA;
    color: #FFFFFF;
    padding: 15px 10px;
    width: 125px;
    font-size: 12px;
    border-radius: 5px;
}

.stores {
    width: 110px;
    margin: 30px 10px 0 0;
}

/*--------------------------------------------------*/
/* PASOS */
.cuadrados {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 200px;
}

.cuadro2-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.palo {
    background: rgb(211, 211, 211);
    width: 1px;
    height: auto;
    margin: 30px 10px 30px 10px;
    padding-left: 10px;
}

.palo p {
    font-size: 12px;
}

/*--------------------------------------------------*/
/* CONTENIDO1 */
#contenido1 {
    display: flex;
    width: 1080px;
    height: 400px;
    background-color: #F4F4F4;
    margin-top: 300px;
    gap: 20px;
}

#cuadro3-1, #cuadro3-2, #cuadro3-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/*--------------------------------------------------*/
/* CONTENIDO2 - ARTÍCULOS */
#contenido2 {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 650px;
    margin-top: 150px;
}

#cuadro5-3 {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items: flex-start;
}

#cuadro5-3-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cuadro5-3-2 {
    display: flex;
    justify-content: space-between;
}

#cuadro5-3-3, #cuadro5-3-4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*--------------------------------------------------*/
/* CONTENIDO3 - CTA */
.contenido3 {
    width: 1080px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#rectangulo6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    width: 800px;
    height: 250px;
    background-color: #6B0DEA;
}

/* INPUTS Y BOTÓN */
#rectangulo6-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    height: 60px;
}

#rectangulo6-4 {
    background-color: #6B0DEA;
    color: white;
    padding: 17px 10px;
    border-radius: 5px;
}

/*--------------------------------------------------*/
/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 930px;
    height: 70px;
    margin: auto;
    border-top: 1px solid #a0a0a0;
}

#rectangulo8-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rectangulo8-1-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
