* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 980px;
    margin: 0 auto;
    font-family: serif;
    text-align: center;
    background-color: wheat;
}

header {
    width: 100%;
    height: 6vh;
    background-color: #4BAF73;
    float: left;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.aside {
    width: 18%;
    float: left;
    background-color: #5AA6C0;
    height: 89vh;
    display: block;
    justify-content: center;
}

.main {
    width: 82%;
    height: 89vh;
    float: right;
    background-color: #D17DF9;
    box-sizing: border-box;
    display: block;
}

.rojo {
    margin: 15px 15px;
    width: auto;
    height: 40vh;
    border: 4px solid #ff0404;
    display: flex;
    align-items: center;
}

.azul{
    margin:auto;
    padding: 17vh 23vh;
    border: 4px solid #0404ff;
}

.azul2{
    margin: 15px;
    padding: 11,5vh;
    height: auto;
    border: 4px solid #0404ff;
}

footer {
    width: 100%;
    background-color: #FA7E5C;
    float: left;
}