* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 980px;
    margin: 0 auto;
    font-family: serif;
    text-align: center;
    background-color: wheat;
}

/* convertir el contenedor principal (el primer div del body) en flexbox */
body > div{
    display: flex;
    flex-wrap: wrap; /* permitir que los elementos ocupen filas separadas */
    align-items: flex-start;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 6vh;
    background-color: #4BAF73;
    /* flex layout: ocupar toda la fila */
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside {
    width: 18%;
    background-color: #5AA6C0;
    height: 89vh;
    display: block;
    /* ocupar 18% del espacio disponible en la fila central */
    flex: 0 0 18%;
}

.main {
    width: 82%;
    height: 89vh;
    background-color: #D17DF9;
    box-sizing: border-box;
    display: block;
    /* tomar el espacio restante al lado de .aside */
    flex: 1 1 80%;
}

.rojo {
    margin: 15px 15px;
    width: auto;
    height: 40vh;
    border: 4px solid #ff0404;
    display: flex;
    align-items: center;
}

.azul{
    margin:auto;
    padding: 17vh 23vh;
    border: 4px solid #0404ff;
}

.azul2{
    margin: 15px;
    padding: 15vh;
    height: auto;
    border: 4px solid #0404ff;
}

footer {
    width: 100%;
    background-color: #FA7E5C;
    /* ocupar toda la fila */
    flex: 0 0 100%;
}