* {
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("img/container_bg.png");
    font-weight: bold;
    text-align: center;
    height: 80px;
    border: solid 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: orange;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

header img {
    width: 160px;
    height: 60px;
}

aside {
	background-image: url("img/container_bg.png");
	float: left;
	width: 100%;
	height: 500px;
}

nav {
    background-image: url("img/container_bg.png");
    height: 50px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav strong {
    color: orange;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

#iniciales {
    background-image: url("img/container_bg.png");
    width: 100%;
    min-height: 500px;
    padding: 40px 20px;
}

#iniciales h1 {
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    background-color: rgba(255, 165, 0, 0.2);
    border: 2px solid orange;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 150px;
    color: black;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px orange;
}

.card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.card a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

footer {
    background-image: url("img/container_bg.png");
    clear: both;
    text-align: center;
    height: 80px;
    border: solid 1px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: orange;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-style: italic;
    margin-top: 20px;
}