body {
	font-family: serif;
	margin: 15px;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 15px;
}

h2 {
	font-size: 1em;
	margin-bottom: 5px;
    border-bottom: 2px solid gray;
}

ul {
	margin-left: 20px;
	margin-bottom: 15px;
}

.fecha{
    color: blue;
}

strong{
    color: black;
}

.cv {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
    h2{
        border: 0px;
    }
	.cv {
		flex-direction: row;
		gap: 20px;
	}

	.datos {
		width: 35%;
	}

	.derecha {
		width: 65%;
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 1200px) {
	.cv {
		gap: 20px;
	}

	.datos,
	.derecha > section {
		width: 33.333%;
	}

	.derecha {
		flex-direction: row;
	}
}
