*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    padding: 10px 10px;
    background: linear-gradient(#d76e1d, #ffffff);
    background-repeat: no-repeat;
    gap: 20px;
    height: 125vh;
}

#page{
    border-radius: 15px;
    align-items: center;
    width: 960px;
    margin: 20px auto 60px;
    text-align: left;
    background-color: white;
    box-shadow: 10px 10px 10px #696969;
}

header{
    font-family: Courier;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 6px solid #000000;
    border-radius: 15px 15px 0 0;
    background-color: #317aba;
}



h1{
    background-image: url("../png/images.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 75px 55px;
    padding: 40px 110px;
}

nav{
    font-family: Courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-color: rgb(212, 192, 60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav ul{
    list-style: none;
}

nav li{
    padding-top: 80px;
    margin: 10px 100px 20px 100px;
    display: inline-block;
    text-align: center;
    cursor: default;
    position: relative;
}

nav ul > img{
    display: none;
}

nav li::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav li:nth-child(2)::before{
    background-image: url("../png/images (1).png");
}

nav li:nth-child(4)::before{
    background-image: url("../png/images (2).png");
}

nav li:nth-child(6)::before{
    background-image: url("../png/descarga (3).png");
}

nav a,
nav a:link,
nav a:visited,
nav a:active,
nav a:hover,
nav a:focus{
    text-decoration: none;
    color: white;
}

main{
    align-items: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: verdana;
    font-size: 0.8em;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    height: 502px;
}

article{
    width: 240px;
    height: 400px;
    text-align: center;
    line-height: 1.8em;
    margin: 14px;
    float: left;
    border-width: 70px 20px 64px 22px;
    border-style: solid;
    border-image-source: url("../png/movil.png"); 
    border-image-slice: 70 20 64 22 fill; 
}

article > h2{
    padding: 10px;
    font-size: 1.2em;
}

article > img{
    width: 80px;
    height: auto;
    display: block;
    margin: 10px auto;
}

h2{
    padding: 10px;
    font-size: 1.2em;
}

footer{
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #2980cc;
    border-top: 6px solid black;
    padding: 15px 10px;
    border-radius: 0 0 15px 15px;
}