:root{
  --azul: #3b82f6;
  --blanco: #FFF;
  --gris-claro: #F5F5F5;
  --gris-oscuro: #64748b;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: var(--gris-claro);
}

header{
  background-color: var(--azul);
}

header h1{
  margin: 0;
  padding: 3rem 0;
  color: var(--blanco);
  text-align: center;
}

.contenedor{
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.sombra{
  background-color: var(--blanco);
  padding: 5rem;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
